# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=replace-with-your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-with-your-google-client-secret

DB_USER=admin
DB_PASS=change-this-password
DB_NAME=meshing_db
DB_PORT=5432
DB_HOST=localhost
POSTGRES_URL=postgresql+psycopg://admin:change-this-password@localhost:5432/meshing_db

PGADMIN_EMAIL=admin@meshing.local
PGADMIN_PASS=change-this-password

# Redirect URL
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/callback
